.authors{

    .paragraph {
        transition: background-color 0.5 ease;
        text-align: center !important;
        &:hover {
            background-color: #f8f9fa;
            cursor: pointer;
        }
    }
    .image {
        text-align: center;
        img{
            max-width:  90%;
            
        }        
    }
    .post-card {
        .header-img {
            width: 100%;
            height: 100px;
            background-size: cover;
            background-position: center;
        }
    }
}